.container
{
	width: 1000px;
	height: 1000px;

}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
.data1
{

}
h1
{
	font-size: 30px;
	font-weight: bold;
	color: black;
}


.mt-30{
	margin-top: 30px;
}

.test_center{
	text-align: center;
}

.test_right{
	text-align: right;
}
.color_black{
	color: black;
}

.cau_hoi{
	font-size: 20px;
	margin-top: 30px;

}

.dap-an{
	font-size: 15px;
	margin-top: -30px;
}

.ml-5{
	margin-left: 5px;
}
.ml-10{
	margin-left: 590px;
}
.ml-3{
	margin-left: 3px;
}
.mt-3{
	margin-top: 3px;
}
.cau_hoi2{
	font-size: 16px;
	font-weight: bold;
	color: black;
	margin-top: 15px;
}


li
{
	font-size: 16px;


}
.khung{
	border: 2px solid gray;
	margin-bottom: 10px;
	margin-right: 50px;
}

.khung2{
	border: 0.5px solid black;

}

.khung3{
	border: 1px solid gray;

}

.khung4{

}
.button{
	background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.images_gioithieu{
	margin-top: 15px;
	width: 400px;
	height: 300px;
}

.mr-3{

	margin-right: 1px;
}

.noi_dung{
	font-size: 15px;
	color: black;
	margin-bottom: 20px;
}
.score ul li{
	color: red;
	font-size: 35px;
}
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}
.mr-30{

	margin-right: 30px;
}
li{
	margin-left: -15px;
}
.answers{
	background-color: red;
	margin-right: 60px;
}
.background{
	background-color:DodgerBlue;
}
